@model Homework.Models.IndexModel
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Home Page";
}


    @if (Request.IsAuthenticated)
    {
        <!--<section class="featured">-->
            <div class="content-wrapper">
                @Html.Partial("SearchBox")

        
            
                <h2 class="Titlu">Temele din liceul meu</h2>
                <hgroup class="title">
                    <div id="allHomeworks">
                        <br>
                        @foreach (var tm in Model.teme)
                        { <div>
                            <strong><p><a href="./Homeworks/ShowHomework?id_tema=@tm.id_tema"> @tm.titlu</a></p></strong>
                            <p><strong>Creata de : </strong>@tm.prof </p>
                            <p><strong>Deadline : </strong><i>@tm.data</i></p>
                            <p><strong> Rating :</strong> @tm.rating </p>
                        </div>


                            <center>
                                <div style="height: 3px; width: 800px; background-color: black;">
                                </div>
                            </center>
                        }
                    </div>
                    </hgroup>                      
                   
           

        <center>
            <p> Page @(Model.teme.PageCount < Model.teme.PageNumber ? 0 : Model.teme.PageNumber) of @Model.teme.PageCount </p>
        </center>

        @Html.PagedListPager(Model.teme, page => Url.Action("Index", new { page }))


                    </div>
       
    }
    else
    {

        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>Please login</h1>
                    <br />
                    <h2>Homeworks is an online educational platform</h2>
                </hgroup>
            </div>
        </section>
    }
