@model Homework.Models.IndexModel
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Home Page";
}



    @if (Request.IsAuthenticated)
    {
        <!--<section class="featured">-->
            <div class="content-wrapper">
                @Html.Partial("SearchBox")

                <h2 class="Titlu">Temele din liceul meu</h2>
                <hgroup class="title">
                    <div id="allHomeworks">
                        <br>
                        @foreach (var tm in Model.teme)
                        {
                            <div>
                                <p>Titlu : <strong>@tm.titlu </strong></p>
                                <p>Deadline : <i>@tm.data</i></p>
                                <p>Creata de : @tm.prof din @tm.liceu </p>
                                <p> Rating : @tm.rating </p>
                                <p>@Html.ActionLink("Vezi Tema", "ShowHomework", "Homeworks", new { id_tema = @tm.id_tema }, null)</p>

                            </div>
                            <center>
                                <div style="height: 3px; width: 800px; background-color: black;">
                                </div>
                            </center>
                        }                        
                    </div>
                </hgroup>

        <center>
            <p> Page @(Model.teme.PageCount < Model.teme.PageNumber ? 0 : Model.teme.PageNumber) of @Model.teme.PageCount </p>
        </center>

        @Html.PagedListPager(Model.teme, page => Url.Action("Index", new { page }))


                    </div>
       
    }
    else
    {

        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>Please login</h1>
                    <br />
                    <h2>Homeworks is an online educational platform that facilitates homework whatever</h2>
                </hgroup>
            </div>
        </section>
    }