@model PagedList.IPagedList<Homework.Models.TemaAModel> 
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Home Page";
}

@section featured {
    @if (Request.IsAuthenticated)
{
        <div id="hw" style="margin-left:200px">
            @foreach (var tm in Model)                
            {
                
                <div>
                    <p>Titlu : <strong>@tm.titlu </strong></p>
                    <p>Deadline : <i>@tm.data</i></p>
                    <p>Creata de : @tm.prof din @tm.liceu </p>
                    <p> Rating : @tm.rating </p>
                    <p>@Html.ActionLink("Vezi Tema", "ShowHomework", "Homeworks", new { id_tema = @tm.id_tema }, null)</p>

                </div>

                <center>
                    <div style="height: 3px; width: 800px; background-color: black; margin-left: -200px">
                    </div>
                </center>
                
            }
        </div>
        
        <center>
            <p> Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount </p>
        </center>

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    



            <!--
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>My Homeworks</h1>
                    <h3>Homework 1</h3>
                    <h3>Homework 2</h3>
                    <h3>Homework 3</h3>
                </hgroup>
            </div>

        </section> -->



      

}
    else
    {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>Please login</h1>
                    <br />
                    <h2>Homeworks is an online educational platform that facilitates homework whatever</h2>
                </hgroup>
            </div>
        </section>


    }
}