@model Homework.Models.LocalPasswordModel

<h3></h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>

            @if( Session["UserId"] != null ) {
               <li>
                    @Html.LabelFor(m => m.nume)
                    @Html.TextBoxFor(m => m.nume)
                </li> 
                
                 <li>
                    @Html.LabelFor(m => m.prenume)
                    @Html.TextBoxFor( m => m.prenume )
                </li> 
                
                 <li>
                    @Html.LabelFor(m => m.email)
                    @Html.TextBoxFor( m => m.email )
                </li>    
                
                if( (bool)Session["prof"] != true ) {
                
                 <li>
                    @Html.LabelFor(m => m.clasa)
                    @Html.TextBoxFor( m => m.clasa )
                </li> 
                
                
                 <li>
                    @Html.LabelFor(m => m.an)
                    @Html.TextBoxFor( m => m.an )
                </li>     
                                                
                }
                            
            }

        </ol>
        <input type="submit" value="Salveaza" />
    </fieldset>
}
