@model Homework.Models.AddHomeworkModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <h1>@ViewBag.Title</h1>

    <div>

        @using (Html.BeginForm("AddHomework", "Homeworks", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <ul style="list-style-type:none;">

                <li>
                    @Html.LabelFor(m => Model.title)
                    @Html.EditorFor(m => Model.title)
                </li>

                <li>
                    @Html.LabelFor(m => Model.enunt)
                    @Html.TextAreaFor(m => Model.enunt)
                </li>

                <li>
                    @Html.LabelFor(m => Model.deadline)
                    @Html.EditorFor(m => Model.deadline)
                </li>

                <li>
                    Fisier Help:
                    <br />
                    <input type="file" name="help" id="help">
                </li>

                <li>
                    Fisier In Out:
                    <br />
                    <input type="file" name="in_out" id="in_out">
                </li>

                <li>
                    An:
                    @for (int i = 9; i <= 12; i++)
                    {
                        @Html.RadioButtonFor(b => b.an, i) @i
                    }
                </li>

                <li>
                    @Html.LabelFor(m => Model.clasa)
                    @Html.EditorFor(m => Model.clasa)
                </li>

                <li>
                    @Html.LabelFor(m => Model.privat)
                    @Html.CheckBoxFor(m => Model.privat)
                </li>

            </ul>

            <input type="submit" name="addhomework" value="creeaza" />

        }

    </div>
</body>
</html>