@model Homework.Models.AddHomeworkModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <h1>@ViewBag.Title</h1>

    <div>

        @using (Html.BeginForm("AddHomework", "Homeworks", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <p> Titlu: @Html.EditorFor(m => Model.title) </p>
            <p> Enunt: @Html.TextAreaFor(m => Model.enunt)</p>
            <p> Deadline: @Html.EditorFor(m => Model.deadline)</p>
            <p> Fisier Help: <input type="file" name="help" id="help"></p>
            <p> Fisier In Out: <input type="file" name="in_out" id="in_out"></p>
            <p>
                An:
                @for (int i = 9; i < 13; i++)
                {
                    @Html.RadioButtonFor(b => b.an, 1) @i
                }
            </p>
            <p> Clasa:@Html.EditorFor(m => Model.clasa)</p>
            <p> Privat: @Html.CheckBoxFor(m => Model.privat) </p>

            <input type="submit" name="addhomework" value="creeaza" />

        }

    </div>
</body>
</html>
