@model PagedList.IPagedList<Homework.Models.TemaAModel>
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "ArhivaTeme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="allHomeworks">
    <h2 class="Titlu">Arhiva Teme</h2>
    <br>
    @foreach (var tm in Model)
    { <div>
        <strong><p><a href="./ShowHomework?id_tema=@tm.id_tema"> @tm.titlu</a></p></strong>
        <p><strong>Creata de : </strong>@tm.prof din @tm.liceu <br/>
        <strong> Rating :</strong> @tm.rating </p>
    </div>

        <center> <div style="height: 3px; width: 800px; background-color: black"></div> </center> 
    }
</div>

@if (Model.Any())
{
    if (Model.PageCount > 1)
    { 
<center>
    <p> Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount </p>
</center>

@Html.PagedListPager(Model, page => Url.Action("ArhivaTeme", new { page }))
}
}
