@model Homework.Models.ChangeInfo
@{
    ViewBag.Title = "ChangeInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <h1>@ViewBag.Title</h1>

    <div>

        @using ( Html.BeginForm() )
        {
            
            <p> Nume: @Html.EditorFor(m => Model.nume) </p>
            <p> Prenume: @Html.EditorFor(m => Model.prenume) </p>
            <p> Email: @Html.EditorFor(m => Model.email) </p>
            <p> Parola: @Html.EditorFor(m => Model.parola) </p>
            <p> Clasa: @Html.EditorFor(m => Model.clasa) </p>
            <p> An Studiu: @Html.EditorFor(m => Model.anStudiu) </p>

            <input type="submit" name="changeinfo" value="Save" />

        }

    </div>
</body>
</html>
