@model Homework.Models.ChangeInfo
@{
    ViewBag.Title = "ChangeInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <h2 class="Titlu">Profilul meu</h2>

    <div class="profil">

        @using ( Html.BeginForm() )
        {
            
            <p>
               @Html.LabelFor(m => Model.nume)
               @Html.EditorFor(m => Model.nume) 
            </p>
            <p> 
                @Html.LabelFor(m => Model.prenume)
                @Html.EditorFor(m => Model.prenume) 
            </p>
            <p>
                @Html.LabelFor(m => Model.email)
                @Html.EditorFor(m => Model.email) 
            </p>
            <p>
                @Html.LabelFor(m => Model.parola)
                @Html.EditorFor(m => Model.parola) 
            </p>
            <p>
                @Html.LabelFor(m => Model.clasa)
                @Html.EditorFor(m => Model.clasa) 
            </p>
            <p>
                @Html.LabelFor(m => Model.anStudiu)
                @Html.EditorFor(m => Model.anStudiu) 
            </p>

            <input type="submit" name="changeinfo" value="Salveaza" />

        }

    </div>
</body>
</html>
