@model Homework.Models.LiceeModel
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Lista de licee";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

    <div>
        @foreach (var liceu in Model.licee)
        {
            var NumeLiceu = liceu.nume;
            <p><strong>@Html.ActionLink(NumeLiceu, "ProfesoriLiceu", "Homeworks", new { idd_liceu = liceu.id_liceu }, null)</strong></p>
            <p>Rating : @liceu.rating_total</p>
            <center> <div style="height: 3px; width: 800px; background-color: black"></div> </center>
        }
    </div>
    @if (Model.licee.Any()) { 
        <center>
            <p> Page @(Model.licee.PageCount < Model.licee.PageNumber ? 0 : Model.licee.PageNumber) of @Model.licee.PageCount </p>
        </center>

        @Html.PagedListPager(Model.licee, page => Url.Action("Licee", new { page }))
    }