@model Homework.Models.TemeProfModel
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Lista teme";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="Titlu">ListaTeme</h2>
<div id="teme incarcate">
    <div>
        <table>
            <tr>
                <th>
                    @Html.ActionLink("Data", "ListaTeme", "Homeworks", new { id_prof = Model.id_prof, sort = "Dupa data" }, null)
                </th>
                <th> <div> |</div> </th>
                <th>
                    @Html.ActionLink("Rating", "ListaTeme", "Homeworks", new { id_prof = Model.id_prof, sort = "Dupa rating" }, null)
                </th>
                <th></th>
            </tr>
        </table>
    </div>
    @foreach (var tm in Model.teme)
    { <div>
        <strong><p><a href="./ShowHomework?id_tema=@tm.id_tema"> @tm.titlu</a></p></strong>

        <p>Deadline : <i>@tm.data</i></p>
        <p>Rating : @tm.rating </p>

    </div>
        <center> <div style="height: 3px; width: 500px; background-color: black"></div> </center>
        ViewBag.id_prof = tm.id_prof;
    }
</div>
@if (Model.teme.PageCount > 1)
{
    <center>
        <p> Page @(Model.teme.PageCount < Model.teme.PageNumber ? 0 : Model.teme.PageNumber) of @Model.teme.PageCount </p>
    </center>

@Html.PagedListPager(Model.teme, page => Url.Action("ListaTeme", new { page, id_prof = ViewBag.id_prof }))
}
