@model PagedList.IPagedList<Homework.Models.ProfesoriModel>
@using PagedList.Mvc;
@using PagedList;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Lista de profesori";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profesori</title>

</head>
<body>
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>



        @foreach (var prof in Model)
        {
            string NumeProf = prof.nume + " " + prof.prenume;
            <div>

                <p><strong>@Html.ActionLink(NumeProf, "ListaTeme", "Homeworks", new { id_prof = prof.id_prof }, null)</strong> </p>
                <p>@prof.liceu</p>
                <p>Numar de teme incarcate: @prof.numar_teme </p>
                <p>Rating : @prof.rating </p>
            </div>

            <center> <div style="height: 3px; width: 800px; background-color: black"></div> </center>
            ViewBag.id_liceu = prof.id_liceu;
        }

        @if(Model.Any())
        { 
        <center>
            <p> Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount </p>
        </center>

        @Html.PagedListPager(Model, page => Url.Action("ProfesoriLiceu", new { page, idd_liceu = ViewBag.id_liceu }))
        }
    </div>
</body>
</html>

