@{
    ViewBag.Title = "ShowHomework";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowHomework</h2>

<div>     @Model.Hm.Title    </div>
<div>     @Model.Hm.deadline </div>
<div>     @Model.Hm.Professor</div>
<div>     @Model.Hm.rating   </div>
<div>     @Model.Hm.grade    </div>
<div>     @Model.Hm.Text     </div>
<div>     @Model.Hm.help     </div>

@Html.Partial("_AddComment");


<div id="allComments">
    @foreach (var comm in Model.Hm.comentariu)
    { <div> <p><strong>@comm.username :</strong></p> <p><i>@comm.data</i></p> <p>@comm.text</p> </div>

        <center> <div style="height: 3px; width: 800px; background-color: black"></div> </center> }
</div>