@model PagedList.IPagedList<Homework.Models.TemaAModel>
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{ 
    ViewBag.Title = "Temele Mele"; 
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<h2>@ViewBag.Title</h2>

<div id="allHomeworks">

    @foreach (var tm in Model) { 
        
        <div> 
    
            <p>Titlu : <strong>@tm.titlu </strong></p> 
            <p>Deadline : <i>@tm.data</i></p> 
            <p>Creata de : @tm.prof din @tm.liceu </p> 
            <p> Rating : @tm.rating </p> 
            <p>@Html.ActionLink("Vezi Tema", "ShowHomework", "Homeworks", new { id_tema = @tm.id_tema }, null)</p> 

        </div>

    <center> 
        <div style="height: 3px; width: 800px; background-color: black">
        </div> 
    </center> 
    
    }

</div>

<center>
    <p> Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount </p>
</center>

@Html.PagedListPager(Model, page => Url.Action("TemeleMele", new { page }))