@model List<Homework.Models.TemaAModel> 
       
@{ 
    ViewBag.Title = "Temele Mele"; 
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<h2 class="Titlu">@ViewBag.Title</h2>
<br>

<div id="allHomeworks">

    @foreach (var tm in Model) { 
        
        <div> 
    
            <p><strong>Titlu :</strong> @tm.titlu </p> 
            <p><strong>Deadline : </strong><i>@tm.data</i></p> 
            <p><strong> Rating :</strong> @tm.rating </p> 
            <p>@Html.ActionLink("Vezi Tema", "ShowHomework", "Homeworks", new { id_tema = @tm.id_tema }, null)</p> 

        </div>

    <center> 
        <div style="height: 3px; width: 800px; background-color: black">
        </div> 
    </center> 
    
    }

</div>