@model PagedList.IPagedList<Homework.Models.TemaAModel>
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{ 
    ViewBag.Title = "Temele Mele"; 
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<h2 class="Titlu">@ViewBag.Title</h2>
<br>

<div id="allHomeworks">

    @foreach (var tm in Model) { 
        
        <div> 
    
            <strong><p><a href="./ShowHomework?id_tema=@tm.id_tema"> @tm.titlu</a></p></strong>
            <p><strong>Deadline : </strong><i>@tm.data</i>
            <strong> Rating :</strong> @tm.rating </p> 

        </div>

    <center> 
        <div style="height: 3px; width: 800px; background-color: black">
        </div> 
    </center> 
    
    }

</div>

@if (Model.Any())
{ 
    if(Model.PageCount > 1)
    { 
<center>
    <p> Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount </p>
</center>

@Html.PagedListPager(Model, page => Url.Action("TemeleMele", new { page }))
}
}
