<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("Homeworks", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </nav>
            </div>
            
            <div class="float-right">                
                    <div id="search">
                        <input type="text" id="searchBox" value="profesor" />
                        @Html.ActionLink("Cauta", "Index", "Home");
                    </div>

                    <div>
                        <nav>
                            <ul id="menuStudent">
                                <li>@Html.ActionLink((string)ViewBag.username, "Index", "Home")</li>
                                <li>@Html.ActionLink("Temele mele", "Index", "Home")</li>
                                <li>@Html.ActionLink("Logout", "Index", "Home")</li>
                            </ul>
                        </nav>
                    </div>
            </div>

            <div class="float-left">
                <nav>
                    <ul id="menuHw">
                        <li>@Html.ActionLink("Arhiva probleme", "Index", "Home")</li>
                        <li>@Html.ActionLink("Lista licee", "Index", "Home")</li>
                    </ul>
                </nav>

            </div>

        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Team B9</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <div>
        @RenderBody()
    </div>
</body>
</html>
